body {
  margin: 0;
  padding-top: 120px;
  font-family: Arial, sans-serif;
  background: white;
}


.containor{
    display: flex;
    height: 500px;
}
.containor .abinfo h2{
    color: rgb(0, 0, 155);
    font-size:30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.containor .abinfo span{
    color: #aba6a6;
    font-size: 21.5px;
    gap: 2px;
    line-height: 28px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.abinfo{
    height: 700px;
    width: 600px;
    margin-top: 100px;
}
.containor img{
    height: 650px;
    width: 800px;
    margin-left: 150px;
    margin-top: 50px;
}
.ab2{
    margin-top: 45px;
}
.cus{
    margin-top: 250px;
    text-align: center;
}
.cus h1{
    font-size: 50px;
    color: rgb(230, 15, 69);
}
.cus span{
    color: rgb(0, 0, 115);
    
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #fce4ec; /* Light pink color */
    border-radius: 50%;
}

.lightbulb {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 60px;
}

.bulb-top {
    width: 40px;
    height: 40px;
    background-color: #00008b; /* Blue color */
    border-radius: 50% 50% 10px 10px;
    position: relative;
}

.bulb-top::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 15px;
    background-color: #4169e1; /* Lighter blue for reflection */
    border-radius: 50%;
}

.bulb-base {
    width: 15px;
    height: 10px;
    background-color: #00008b; /* Blue color */
    margin-top: -2px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 100px;
    padding-top: 0%;
    margin: 40px ;
    margin-bottom: 0%;
    padding-bottom: 50px;
}
.grid-item h3{
    color:rgb(6, 79, 151);
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.our{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 150px;
    margin-top: 0%;
}
.our .fo1 h1{
    font-size: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #00008b;
}
.fi1{
    font-size: 18px;
    line-height: 30px;
    text-align: justify;

}
.fo1{
    width: 600px;
}
.git{
    height: 350px;
    background:
    linear-gradient(rgba(249, 179, 190, 0.90),
                    rgba(250, 164, 177, 0.90)),
    url("./assets/office.avif");   /* your background image */

    background-size: cover;
    background-position: center;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:white;
}
.git h3{
    font-size:60px;
    font-weight:bold;
    color: #00008b;
    margin-bottom: 20px;
    margin-top: 5px;
}

.git span{
    color:#ff3b5c;
}
.git p{
    margin-top:0%;
    font-size:25px;
    color:#f2f2f2;
}
.email{
    display:flex;
    margin-top:30px;
}
#email{
    padding:15px 20px;
    border:none;
    border-radius:30px;
    width:230px;
    height: 20px;
    outline:none;
}
.email button{
    margin-left:10px;
    padding:14px 25px;
    border:none;
    border-radius:30px;
    background:#ff4d6d;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.email button:hover{
    background:#e63b5b;
}
.slider{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    padding:100px;
    background:#f2f2f2;
}
.slide-track{
  display:flex;
  gap:40px;
  width:calc(800px * 3);
  animation: scroll 18s linear infinite;
}
.card{
    width:550px;
    height:200px;
    background:white;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    transition:0.4s;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}
.card img{
    position:absolute;
    width:150px;
}

.gray{
    opacity:1;
}

.color{
    opacity:0;
}
.card:hover .gray{
    opacity:0;
}

.card:hover .color{
    opacity:1;
}
.card.active .gray{
    opacity:0;
}

.card.active .color{
    opacity:1;
}

.card.active{
    transform:scale(1.05);
}
.card{
opacity:0.4;
}

.card:hover,
.card.active{
opacity:1;
}
@keyframes scroll{

  0%{
    transform: translateX(0);
  }

  100%{
    transform: translateX(-50%);
  }

}
.slider:hover .slide-track{
  animation-play-state: paused;
}
.about-prisha-i{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
}
.about-prisha{
    margin-top: 100px;
}
.about-prisha-i .left{
    margin-left: 150px;
    color:#e63b5b
}
.about-prisha-i .left h2{
    color: #00008b;
    font-size: 30px;
    margin-top: 5px;
}
.about-prisha-i .left p{
    color:#aba6a6;
    font-size: 20px;
}
#file1, #file2, #file3{
    width: 550px;
    margin: 20px;
    margin-left: 0%;
    height: 20px;
}
.about-prisha-i .right{
    margin-right: 150px;

}
