

.ob {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* vertically center text */
  text-align: center;
}

.ob h2 {
  color: #00008b;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin: 0;
}

.ob h2 span {
  color: rgb(204, 69, 103);
}

.head {
  background-image: url("./assets/ob-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
}

.ob-info {
  margin-top: 120px;

}

.obimg {
  text-align: center;

}

.obimg img {
  border-radius: 20px;
}

.obinfo1 {
  margin-left: 100px;
  text-align: left;
}

.obinfo1 h1 {
  margin-top: 0%;
  padding: 0%;
  color: #00008b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
}

.obinfo1 h1 span {
  color: rgb(204, 69, 103);
}

.obinfo1 p {
  margin: 0%;
  padding: 0%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.obinfo1 h3 {
  color: rgb(204, 69, 103);
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
}

.obinfo1 a {
  text-decoration: none;
  color: rgb(204, 69, 103);
  line-height: 2.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

