body {
  margin: 0;
  padding-top: 120px;
  font-family: Arial, sans-serif;
  background: white;
}



.contactUS {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px 180px;

}

.loc,
.clock,
.gmail,
.fon {
  display: flex;
}

.loc {
  margin-top: 40px;
}

.loc img,
.clock img,
.gmail img,
.fon img {
  height: 22px;
  width: 22px;

}

.loc h3,
.clock h3,
.gmail h3,
.fon h3 {
  margin-top: 0px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  word-spacing: 2px;
  color: #827c7c;
}

.first h1 {
  font-size: 50px;
  color: #00008b;
  margin-bottom: 2%;
  padding-bottom: 0%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first h1 span {
  color: rgb(204, 69, 103);
}

.first p {
  font-size: 15px;
  margin-top: 0px;
  color: #999393;
}

.second iframe {
  height: 320px;
  width: 550px;
  margin-top: 30px;
}

